.help-container
  .row
    = render 'layouts/help'
    .col-md-10
      %h1 About
      %p
        Open Hunt is a brand new community for fans and builders of
        early stage technology products. We aim to be <strong>completely open
        and transparent</strong>, without insiders or gatekeepers who control
        who gets listed and who gets left out.
      %p
        This list may be overwhelming initially, but we're actively working on tools to let the community surface the best products to the top.
      %p
        You can get involved: <a href="http://github.com/openhunting/openhunt/issues">file an issue</a>
        or submit a <a href="http://github.com/openhunting/openhunt">pull request</a>. With your support, we can create an
        alternative product enthusiast community that lasts.
      %p Thank you!
      %p
        %strong The Open Hunt team