.help-container
  .row
    .col-md-3
      .list-group
        %a.list-group-item{:href => '/help/about', :class => ('active' if current_page?(action: 'about', controller: 'help'))} About
        %a.list-group-item{:href => '/help/team', :class => ('active' if current_page?(action: 'team', controller: 'help'))} Team
        %a.list-group-item{:href => '/help/guidelines', :class => ('active' if current_page?(action: 'guidelines', controller: 'help'))} Guidelines
        %a.list-group-item{:href => '/help/faqs', :class => ('active' if current_page?(action: 'faqs', controller: 'help'))} FAQ's
        %a.list-group-item{:href => '/help/contact', :class => ('active' if current_page?(action: 'contact', controller: 'help'))} Contact
    .col-md-9
      %h1 Contact
      If you would like to get in touch with the team, you can do so via one of the following methods.
      %hr
      %li
        %a{:href => 'mailto:support@openhunt.co'} Email