.help-container
  .row
    = render 'layouts/help'
    .col-md-10
      %h1 Contact
      If you would like to get in touch with the team, you can do so via <a href="mailto:support@openhunt.co">email</a>.