.help-container
  .row
    .col-md-3
      .list-group
        %a.list-group-item{:href => '/help/about', :class => ('active' if current_page?(action: 'about', controller: 'help'))} About
        %a.list-group-item{:href => '/help/team', :class => ('active' if current_page?(action: 'team', controller: 'help'))} Team
        %a.list-group-item{:href => '/help/guidelines', :class => ('active' if current_page?(action: 'guidelines', controller: 'help'))} Guidelines
        %a.list-group-item{:href => '/help/faqs', :class => ('active' if current_page?(action: 'faqs', controller: 'help'))} FAQ's
        %a.list-group-item{:href => '/help/contact', :class => ('active' if current_page?(action: 'contact', controller: 'help'))} Contact
    .col-md-9
      %h1 Guidelines
      %p
        Open Hunt top goal is to be run by and for the community.
        To accomplish this, key decisions will be made by the <strong>Council</strong>
        elected by the community. The elected <strong>chief</strong> has the same vote as other members,
        but can also veto proposals.
      %p
        All council meetings will be conducted via Slack and publically posted.
        Proposals will be tracked and discussed via GitHub issues.
      %p
        Voting will be held a couple months after launch. The initial council consists of
        contributors to the initial site launch.
      %h3 Current Council
      %ul
        %li
          %a(href="http://github.com/jacquescrocker")
            Jacques Crocker (chief)
        %li
          %a(href="http://github.com/mhurwi")
            Mark Hurwitz
        %li
          %a(href="http://github.com/marccantwell")
            Marc Cantwell
        %li
          %a(href="http://github.com/mbajur")
            Michał Bajur
        %li
          %a(href="http://github.com/jrbapna")
            Jason Bapna