.help-container
  .row
    = render 'layouts/help'
    .col-md-10
      %h1 Team
      %p
        Open Hunt was cobbled together by a small group of independent developers. Please help! <a href="http://github.com/openhunting/openhunt">Join us on GitHub.</a>
      
      %h3 Contributors
      .row
        %ul
          %li
            %a(href="http://github.com/jacquescrocker") Jacques Crocker
          %li
            %a(href="http://twitter.com/mhurwi") Mark Hurwitz
          %li
            %a(href="https://twitter.com/marccantwell") Marc Cantwell
          %li
            %a(href="http://github.com/mbajur") Michał Bajur
          %li
            %a(href="http://github.com/jrbapna") Jason Bapna
          %li
            %a(href="http://github.com/nblackburn") Nathaniel Blackburn
          %li
            %a(href="http://github.com/wonderbread") Rob McFadzean
          %li
            %a(href="http://github.com/kiriappeee") Adnan Issadeen
          %li
            %a(href="http://github.com/rjsamson") Robert J Samson
          %li
            %a(href="http://github.com/brendannee") Brendan Nee
          %li
            %a(href="http://github.com/skx") Steve Kemp
          %li
            %a(href="http://github.com/openhunting/openhunt") You (we hope!)
