.help-container
  .row
    .col-md-3
      .list-group
        %a.list-group-item{:href => '/help/about', :class => ('active' if current_page?(action: 'about', controller: 'help'))} About
        %a.list-group-item{:href => '/help/team', :class => ('active' if current_page?(action: 'team', controller: 'help'))} Team
        %a.list-group-item{:href => '/help/guidelines', :class => ('active' if current_page?(action: 'guidelines', controller: 'help'))} Guidelines
        %a.list-group-item{:href => '/help/faqs', :class => ('active' if current_page?(action: 'faqs', controller: 'help'))} FAQ's
        %a.list-group-item{:href => '/help/contact', :class => ('active' if current_page?(action: 'contact', controller: 'help'))} Contact
    .col-md-9
      %h1 Team
      %p
        Open Hunt was cobbled together by a small group of independent developers. Please help! <a href="http://github.com/openhunting/openhunt">Join us on GitHub.</a>
      %h3 Creators
      .row
        .col-md-4
          .thumbnail
            %img{:src => asset_path('jacques.png'), :alt => 'Jacques Crocker'}
            .caption
              %h3 Jacques Crocker
              %p Launched <a href="http://opensourcerails.com">Open Source Rails</a> and NReduce.
              %hr
              %a{:href => 'https://twitter.com/jacquescrocker', :class => 'btn btn-primary'} Twitter
              %a{:href => 'http://www.hyperactivehacker.com', :class => 'btn btn-default'} Website
        .col-md-4
          .thumbnail
            %img{:src => asset_path('mark.jpg'), :alt => 'Mark Hurwitz'}
            .caption
              %h3 Mark Hurwitz
              %p Launched <a href="http://copybar.io">Copybar</a> and partner of Launch Brick Labs.
              %hr
              %a{:href => 'https://twitter.com/mhurwi', :class => 'btn btn-primary'} Twitter
              %a{:href => 'http://www.launchbricklabs.com', :class => 'btn btn-default'} Website
        .col-md-4
          .thumbnail
            %img{:src => asset_path('marc.jpg'), :alt => 'Marc Cantwell'}
            .caption
              %h3 Marc Cantwell
              %p Launched <a href="http://copybar.io">Copybar</a> and partner of Launch Brick Labs.
              %hr
              %a{:href => 'https://twitter.com/marccantwell', :class => 'btn btn-primary'} Twitter
              %a{:href => 'http://www.launchbricklabs.com', :class => 'btn btn-default'} Website
      %h3 Contributors
      .row
        %ul
          %li
            %a(href="http://github.com/mbajur") Michał Bajur
          %li
            %a(href="http://github.com/jrbapna") Jason Bapna
          %li
            %a(href="http://github.com/nblackburn") Nathaniel Blackburn
          %li
            %a(href="http://github.com/wonderbread") Rob McFadzean
          %li
            %a(href="http://github.com/kiriappeee") Adnan Issadeen
          %li
            %a(href="http://github.com/rjsamson") Robert J Samson
          %li
            %a(href="http://github.com/brendannee") Brendan Nee
          %li
            %a(href="http://github.com/skx") Steve Kemp
          %li
            %a(href="http://github.com/openhunting/openhunt") You (we hope!)