<% skip_header %>

<div class="splash-box">
  <h2>Unable to login<%= " with #{@login_type}" if @login_type.present? %>.</h2>
  <p><%= @login_error %></p>
  <%# TODO: link to email us %>
  <p>
    <a href="/" class="btn btn-primary btn-super">Go Back to Homepage</a>
  </p>
</div>
