<% skip_header %>

<div class="splash-box">
  <h2>Completing login...</h2>
</div>

<script type="text/javascript">
  OAuth.callback('twitter')
  .done(function(result) {

    $.ajax({
      url: "/login/success",
      type: "POST",
      data: {
        oauth_token: result.oauth_token,
        oauth_secret: result.oauth_token_secret,
      },
      dataType: "json",
      success: function(json){
        $(".splash-box h2").text("Login successful, redirecting...")
        window.location = json.redirect_to || "/"
      },
      error: function(xhr){
        console.error("Unable to process login", xhr)
        $(".splash-box h2").text("Login unsuccessful. Something went wrong.")

      }
    })

  })
  .fail(function (err) {
    console.error("Unable to login via twitter", err)
    $(".splash-box h2").text("Login unsuccessful. Something went wrong: "+err)

  });
</script>
