%h2 Audit Trail
%p
  List of all actions that Open Hunt moderators have taken on the site.

- if not @audit_logs.blank?
  %table.table.table-striped
    %thead
      %tr
        %td Date
        %td Moderator
        %td Log
        %td Reason
    %tbody
      - @audit_logs.each do |log|
        - moderator = log.moderator
        %tr
          %td
            = log.created_at.strftime("%a %b %d, %Y at %I:%M%p")
          %td
            %a{:href => '/@' + moderator.screen_name}
              = moderator.screen_name
          %td
            = audit_description(log)
          %td
            - if log.note
              = log.note
- else
  %p No logs are available at this time.