#about-screen{style: local_assigns[:static] ? "" : "display:none;", class: local_assigns[:static] ? "about-static" : "about-dynamic"}
  .about-inner
    %p
      Open Hunt is a brand new community for fans and builders of
      early stage technology products. We aim to be <strong>completely open
      and transparent</strong>, without insiders or gatekeepers who arbitrarily
      control who gets listed and who gets left out.

    %p
      Our initial design may look similar to another site you know of. This is
      intentional for the first launch, but not at all final. There are already some <a href="/differences">key differences</a>,
      and we'll evolve even more as we grow. You can get involved: <a href="http://github.com/openhunting/openhunt/issues">file an issue</a>
      or submit a <a href="http://github.com/openhunting/openhunt">pull request</a>. We would love your help!

    %p
      This community is just starting and still very fragile.
      Please bear with us for the initial bumps and bruises. Our content
      may be sparse to begin with, but with your support, we can create an
      alternative product enthusiast community that lasts.

    %p Thank you for your support!

    %p -- The Open Hunt team

    %hr
    %p
      %a(href="/people") Who We Are
      %span /

      %a(href="/faq") FAQ
      %span /

      %a(href="/new") Submit Product
      %span /

      %a(href="https://github.com/openhunting/openhunt") Github Repo
      %span /
      - if request.path == "/about"
        %a(href="/") Start Browsing
      - else
        %a.close-about(href="#") Start Browsing
