#about-screen{style: local_assigns[:static] ? "" : "display:none;", class: local_assigns[:static] ? "about-static" : "about-dynamic"}
  .about-inner
    .about-heading
      %a{:id => 'close-button', :href => '#', :class => 'close-about'}x
      .clearfix

    %p
      Open Hunt is a brand new community for fans and builders of
      early stage technology products. We aim to be <strong>completely open
      and transparent</strong>, without insiders or gatekeepers who control
      who gets listed and who gets left out.

    %p
      Ths list may be overwhelming initially, but we're actively working on tools to let the community surface the best products to the top.

    %p
      You can get involved: <a href="http://github.com/openhunting/openhunt/issues">file an issue</a>
      or submit a <a href="http://github.com/openhunting/openhunt">pull request</a>. With your support, we can create an
      alternative product enthusiast community that lasts.

    %p Thank you!

    %p -- The Open Hunt team

    %hr
    %p
      = render "pages/content_nav"

    %p
      - if request.path == "/about"
        %a(href="/") Start Browsing
      - else
        %a.close-about(href="#") Start Browsing
      %span /

      %a(href="/new") Submit Product
      %span /

      %a(href="/audit") Audit Trail
      %span /

      %a(href="https://github.com/openhunting/openhunt") Github Repo
