%h2 Audit Trail
%p
  List of all actions that Open Hunt moderators have taken on the site.

%hr
%ul.list-unstyled.audit-trail
  - @audit_logs.each do |log|
    - moderator = log.moderator
    %li
      %em= log.created_at.strftime("%a %b %d, %Y at %I:%M%p")
      %span -
      = link_to moderator.name, "/@#{moderator.screen_name}"
      = audit_description(log)
