.content-page
  .content-nav= render "pages/content_nav"
  .content-inner
    %h2 Differences between Open Hunt and Product Hunt

    .feature
      %h3
        Open and Transparent
      %p
        Built by and for the community (<a href="http://github.com/openhunting/openhunt">open source</a>).

    .feature
      %h3
        Get Feedback on your product
      %p
        Users can give feedback on any project, and it will be available privately by the product owner,
        who can then respond privately.

    .feature
      %h3
        %a(href="/audit") Audit Trail
      %p
        We post all moderator activity publicly. You'll know exactly what is
        happening with your post. No hidden rankings / promotion of posts.

    .feature
      %h3
        Community Governance
      %p
        Key decisions are made by the community via elected council members.
        %a(href="/governance")
          Read more about it.

    .feature
      %h3
        Karma System (proposed)
      %p
        Build your influence on Open Hunt not by who you know, but by what you do -- helping others & giving feedback.
        When feedback is accepted by the product owner, karma is given. This will enable moderation
        abilities.



    .feature
      %h3
        Queuing System (proposed)
      %p
        Instead of burying posts, our queuing system will allow you to schedule your product post
        for a schedule slot in a future date, so everyone gets a fair chance to be seen.
