.content-page
  .content-nav= render "pages/content_nav"
  .content-inner
    %h2 FAQ

    .faq-item
      %h3 What is Open Hunt?
      %p
        A community of early stage tech product enthusiasts and builders.
        You can use it to find new products early, give feedback, and post the product
        you are working on to get feedback.

    -# TODO: more
