.content-page
  .content-nav.wide= render "pages/content_nav"
  .content-inner.wide
    %h2 The People behind Open Hunt
    %p
      Open Hunt was cobbled together by a small group of independent developers. Please help! <a href="http://github.com/openhunting/openhunt">Join us on GitHub.</a>

    .row.about-people
      .col-sm-4
        .about-person.left
          .avatar(style="background-image:url('#{asset_path('jacques.png')}')")
          %h3
            Jacques Crocker
          .about-link
            %a(href="https://twitter.com/jacquescrocker") @jacquescrocker
          %ul.list-unstyled
            %li== launched <a href="http://www.opensourcerails.com">opensourcerails</a> in 2007
            %li== started <a href="http://www.xconomy.com/san-francisco/2012/05/14/n-reduce-opens-up-as-alternative-to-ultra-elite-startup-incubators/">nreduce</a> in 2012
            %li== organized <a href="http://www.nodeknockout.com">node knockout</a> since 2013


      .col-sm-4
        .about-person
          .avatar(style="background-image:url('#{asset_path('mark.jpg')}')")
          %h3
            Mark Hurwitz
          .about-link
            %a(href="http://www.launchbricklabs.com") Launch Brick Labs
          %ul.list-unstyled
            %li== partner at launch brick labs
            %li== launched <a href="http://copybar.io">copybar.io</a>
            %li== lead dev for <a href="http://www.communitysourcedcapital.com">communitysourcedcapital</a>

      .col-sm-4
        .about-person.right
          .avatar(style="background-image:url('#{asset_path('marc.jpg')}')")

          %h3
            Marc Cantwell
          .about-link
            %a(href="http://www.launchbricklabs.com") Launch Brick Labs
          %ul.list-unstyled
            %li== partner at launch brick labs
            %li== launched <a href="http://copybar.io">copybar.io</a>
            %li== lead architect for <a href="http://www.communitysourcedcapital.com">communitysourcedcapital</a>

    -# TODO: make this automatic by using github api? maybe as part of a rake task
    -# TODO: also... use github avatars
    .contributors
      %h3
        %a(href="https://github.com/OpenHunting/openhunt/graphs/contributors")
          Contributors
      %ul
        %li
          %a(href="http://github.com/mbajur")
            Michał Bajur
        %li
          %a(href="http://github.com/jrbapna")
            Jason Bapna
        %li
          %a(href="http://github.com/nblackburn")
            Nathaniel Blackburn
        %li
          %a(href="http://github.com/wonderbread")
            Rob McFadzean
        %li
          %a(href="http://github.com/kiriappeee")
            Adnan Issadeen
        %li
          %a(href="http://github.com/rjsamson")
            Robert J Samson
        %li
          %a(href="http://github.com/brendannee")
            Brendan Nee
        %li
          %a(href="http://github.com/skx")
            Steve Kemp

        %li
          %a(href="http://github.com/openhunting/openhunt")
            You
          (we hope!)
