-# COMP
.project-feedback
  .project-info
    %h3
      %a(href="#") Open Hunt
    %p discover the best new products
    %p
      -# TODO: make this a fonticon (open in new window)
      %a.btn.btn-xs.btn-default(href="#") Open Product
    %hr

  .feedback-form
    %p
      <strong>37 amazing people</strong> have given feedback on this product. Join them by also posting your thoughts.
    %p
      All <strong>comments go directly to the owner</strong>, and aren't posted publically. You can choose whether or not to provide your name along with the feedback.

    .actions
      %textarea.form-control(placeholder="List 3 things you like about this product. ... List 1 thing you hate about it.")
      .btn.btn-primary Done
