%div#new-product.row
  %div.new-product-wrapper.col-md-6.col-sm-12.col-xs-12.col-md-offset-3
    %h2 Post a new product
    %p.text-center Sorry, just 1 product can be posted per day. Please come back tomorrow!
    .form-actions.text-center
      %br
      %a.btn.btn-primary.btn-super{href: "/"} Return to Homepage
