<div class="top-header">
  <h1>Open Hunt</h1>

  <ul>
    <% if current_user.present? %>
      <li>
        <a href="/logout">Logout</a>
      </li>      
    <% else %>
      <li>
        <a href="/login">Login</a>
      </li>
    <% end %>
  </ul>
</div>
