.feed
  .head
    .today
      Today
    .date
      = Time.now.strftime('%A, %b %d')
  .clearfix

  - @projects.each do |project|
    .item
      .item-vote
        .box
          .arrow
            %span.glyphicon.glyphicon-chevron-up{"aria-hidden" => "true"}
          .counter
            = project.votes_count
      .item-details
        .title
          = project.name
        .description
          = project.description
      .item-comments
        %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}
