<ul class="list-unstyled">
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project.url %>

      <!-- TODO: voting -->
      <div class="project-votes">
        Votes: <%= project.votes_count %>
        
      </div>

      <!-- TODO: submitter -->
      <div class="project-user">
        Submitted by: <%= project.user.name %>
      </div>
      <hr />
    </li>
  <% end %>
</ul>
