//= require components
//= require_self


// $navbar-default-color:             #fff !default
// $navbar-default-bg:                #4e555d !default
// $navbar-default-border:            darken($navbar-default-bg, 6.5%) !default


@import "bootstrap"

body
  background: #eee



.navbar-default
  background: #4e555d
  color: #fff
  .navbar-brand
    color: #fff
  .navbar-nav
    li > a
      color: #fff
//
// .navbar-about
//   margin-top: 12px
//   display: inline-block
//   text-transform: uppercase
//   font-size: 10px

.row-valign
  display: flex
  align-items: center

.feed
  @extend .container
  //border: 1px solid #ccc

  .head
    background: rgba(255,255,255,0.6)
    border-radius: 3px
    padding: 15px 15px
    @extend .row
    @extend .col-md-12
    margin-bottom: 20px
    .today
      display: inline-block
      font-size: 2rem
      padding-right: 10px

    .date
      display: inline-block
      font-size: 1.2rem
      color: #ccc

  .item:first-child
    border-radius: 3px 3px 0px 0px


  .item
    @extend .row
    @extend .row-valign
    height: 60px
    border-radius: 0px
    margin-bottom: 0px
    border-bottom: 1px solid #eee
    position: relative
    width: 100%
    background: white
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    .item-vote
      cursor: pointer
      display: block
      text-decoration: none
      margin-left: 10px

      color: #333

      &.on
        color: green
      .box
        // background-color: #ccc
        height: 50px
        width: 35px
        .arrow
          text-align: center
          height: 30px
          font-size: 2rem
        .counter
          text-align: center
          height: 20px
          font-size: 1.1rem


    .item-details
      @extend .col-md-9

      .title
        font-size: 1.5rem
      .description
        font-size: 1rem

    .item-comments
      @extend .col-md-2
      .user-image
        display: inline-block
        padding: 0 5px
        img
          width: 30px
          height: 30px
      .comments-gif
        display: inline-block

.splash-box
  padding: 20px
  text-align: center
  margin: auto
  width: 500px
  height: 300px
  margin-top: 30px
