//= require components
//= require_self

@import "_bootstrap-override-variables.scss"
@import "bootstrap/assets/stylesheets/_bootstrap.scss"

@import "bourbon"
@import "responsive"

body
  padding-top: 55px
  padding-bottom: 30px
  &.about-screen-opened
    overflow: hidden

.navbar
  .navbar-about
    margin-top: 11px
    display: inline-block
    font-size: 10px
    padding: 1px 3px
    border-radius: 3px
    background: #fff
    text-decoration: none
    margin-left: -3px
    text-transform: lowercase
    +xs
      float: left
    &:hover
      background: #508FE6
      color: #fff
    &.active
      background: #333
      color: #fff
  .navbar-header
    min-width: 220px
    white-space: nowrap
    .navbar-brand
      padding-left: 10px
      padding-right: 10px
  .navbar-right
    margin-right: -2px

  .navbar-nav.navbar-right
    > .active > a
      background: none
      color: #508FE6
    > li.profile-nav > a
      padding: 0
      padding-top: 7px
      .user-avatar
        border-radius: 40px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        display: inline-block
        width: 35px
        height: 35px
        border: 1px solid #ddd
      +xs
        padding-top: 0
        .user-avatar
          vertical-align: middle
  +xs
    +clearfix
    .nav > li
      display: inline-block
    .navbar-right
      margin-right: 0
      float: right
      margin-top: 4px
      margin-right: -13px
    .navbar-header
      float: left

.row-valign
  display: flex
  align-items: center

.project-list
  @extend .container
  //border: 1px solid #ccc
  padding-bottom: 20px

  .head
    @extend .row
    @extend .col-md-12
    margin-bottom: 10px
    margin-top: 20px
    .today
      display: inline-block
      font-size: 15px
      padding-right: 10px
      text-transform: uppercase

    .date
      display: inline-block
      font-size: 1.2rem
      color: #ccc

  .item:first-child
    border-radius: 3px 3px 0px 0px
  .empty-projects
    color: #aaa
  .project-listing
    @extend .row-valign
    height: 60px
    border-radius: 0px
    margin-bottom: 0px
    position: relative
    width: auto
    transition: background-color 0.5s ease
    background-color: white
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    cursor: pointer

    &.selected
      background-color: #eee !important
      cursor: default
      .item-details .description
        color: #aaa
    &:hover
      // border-radius: 8px
      // background-color: rgba(#eee, 0.5)
      background-color: rgba(#508FE6, 0.05)
      .item-details .description
        color: #aaa
      .item-comments .posted-by
        opacity: 1.0
        +transition(opacity, 0.5s)

    &.marked-as-spam
      .item-details
        .title
          color: red
        .description
          color: red

    .item-vote
      cursor: pointer
      display: block
      text-decoration: none
      position: absolute
      color: #333
      left: 3px
      top: -7px
      .box
        // background-color: #ccc
        height: 50px
        width: 35px
        .arrow
          text-align: center
          height: 30px
          font-size: 2rem
          .triangle
            font-size: 1.2rem
            +transition(all, 0.5s)
        .counter
          text-align: center
          height: 20px
          font-size: 1.1rem
      &:hover .box .arrow .triangle
        font-size: 1.5rem
      &.on
        color: #508fe6
        &:hover .box .arrow .triangle
          font-size: 1.2rem


    .item-details
      position: relative
      padding-left: 45px
      overflow: hidden
      text-overflow: ellipsis
      .title
        font-size: 1.8rem
        color: #000
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .description
        color: #ccc
        font-size: 1.2rem
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .item-comments
      text-align: right
      white-space: nowrap
      .posted-by
        color: #aaa
        font-size: 11px
        margin-right: 3px
        opacity: 0

      .user-avatar
        display: inline-block
        padding: 0 0
        img
          width: 30px
          height: 30px
          border: 1px solid #ddd
      .comments-gif
        display: inline-block


  .expanded-projects
    display: none

  .more-projects-btn
    padding: 10px
    text-align: center
    font-size: 15px
    color: #508FE6
    cursor: pointer
    &:hover
      text-decoration: underline
      background: #F7FAFE
      border-radius: 8px

  &.expanded
    .expanded-projects
      display: block
    .more-projects-btn
      display: none

  &.end-of-buckets
    font-size: 15px
    color: #ccc
    font-weight: bold
    line-height: 1.5
    text-align: center
    margin-top: 10px
    margin-bottom: 10px
    background: #fafafa
    padding: 16px
    border-radius: 6px
    color: #aaa
    strong
      color: #333
    p:last-of-type
      margin-bottom: 7px

.splash-box
  padding: 20px
  text-align: center
  margin: auto
  width: 500px
  height: 300px
  margin-top: 30px
  color: #999

.btn-super
  border: 1px solid #337AB7
  color: #337AB7
  background: #fff
  text-transform: uppercase
  font-size: 16px
  padding: 10px 15px
  margin-right: 10px
  margin-bottom: 10px

#about-screen
  position: fixed
  top: 51px
  bottom: 0
  left: 0
  right: 0
  z-index: 10000
  width: 100%
  height: 100%
  padding: 50px
  background: rgba(255,255,255,0.93)
  overflow: auto
  padding-top: 33px
  cursor: pointer
  +xs
    padding: 11px
    padding-top: 24px
  .about-inner
    max-width: 700px
    margin: auto
    padding: 30px
    border: 1px solid #aaa
    box-shadow: 0 1px 2px rgba(#000, 0.3)
    border-radius: 3px
    background: rgba(255,255,255, 0.8)
    cursor: default
  p
    font-size: 16px
    line-height: 1.7
    margin-bottom: 1em
    +xs
      font-size: 16px

  a
    white-space: nowrap


#new-product
  h2
    text-align: center
  p
    color: #777
  form
    margin-top: 40px
  .form-group
    margin-bottom: 30px
    label
      font-size: 2rem
      line-height: 2rem
      text-transform: uppercase
    .form-control
      height: 50px
    &.has-error
      color: #a94442
    p.help-block
      text-transform: uppercase
      font-size: 1.2rem
  textarea, input, input[type]
    border: none
    border-bottom: 1px solid #eee
    box-shadow: none
    font-size: 1.6rem
    padding: 10px
    transition: border-bottom 0.5s ease
  textarea:focus, input:focus, input[type]:focus
    border-bottom: 1px solid rgb(80, 143, 230)



.user-page
  padding-top: 20px

.user-profile
  margin-bottom: 30px
  margin-top: 15px
  padding-left: 80px
  position: relative
  font-size: 18px

  .user-avatar
    position: absolute
    left: 0
    top: 0
    width: 60px
    height: 60px
    border-radius: 60px
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    border: 1px solid #ddd
  .user-name
    font-size: 24px
    margin-bottom: 0px

  .user-location
    color: #999

  .user-actions
    margin-top: 5px

#feedback-panel
  position: fixed
  top: 0
  right: 0
  bottom: 0
  background: rgba(#508FE6, 0.96)
  z-index: 1000
  padding-top: 52px
  width: 400px
  box-shadow: 0 0 5px rgba(#000, 0.8)
  color: #fff
  font-size: 12px
  display: none

  +xs
    left: 0
    width: auto
  a
    color: #fff
  strong
    color: yellow
    font-weight: normal
  .btn-default
    color: #333
    text-shadow: none
    padding: 3px 8px

  .project-info
    font-size: 14px
    text-shadow: 0 0 3px rgba(#000, 0.7)

  .project-feedback
    padding: 10px 30px
    position: relative
    .close-feedback-button
      position: absolute
      top: 10px
      right: 20px
    h3
      margin-bottom: 5px
    hr
      border-top: 1px solid rgba(#fff, 0.5)

  .feedback-form
    textarea
      min-height: 100px
      margin-bottom: 10px
    .actions
      text-align: right

    label
      text-shadow: none
      font-weight: 300
    .btn-primary
      border: 1px solid #337AB7
      color: #337AB7
      background: #fff
      text-transform: uppercase
      text-shadow: none
      &:hover
        background: #E6E6E6
        color: #000

  .project-loading
    font-size: 30px
    padding: 30px 50px
    text-align: center
    color: rgba(#fff, 0.5)
    display: none

  &.loading
    .project-loading
      display: block
    .project-feedback
      display: none


.audit-trail
  li
    margin-bottom: 15px
    font-size: 14px
    em
      font-style: normal
      color: #999


.content-page
  h2
    font-size: 18px
  p
    font-size: 14px
    color: #aaa

  .about-people
    margin-top: 30px
  .about-person
    margin-left: 10px
    margin-right: 10px
    border-radius: 10px
    text-align: center
    margin-bottom: 20px
    +xs
      border-bottom: 1px solid #efefef
      padding-bottom: 20px

    h3
      margin-top: 0
      font-size: 18px
      margin-bottom: 3px
    .about-link
      display: block
      margin-bottom: 5px

    .avatar
      width: 100px
      height: 100px
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      display: inline-block
      border-radius: 100px
      margin-bottom: 5px

    ul
      margin-bottom: 0
      font-size: 12px
      li
        background: #fafafa
        border-radius: 5px
        padding: 5px
        max-width: 300px
        margin: auto
        margin-bottom: 5px

    &.left
      margin-left: 0
    &.right
      margin-right: 0

  .faq-item
    max-width: 750px
    h3
      font-size: 16px
    p
      line-height: 1.6

  .content-nav
    margin: auto
    margin-top: 30px
    max-width: 850px
    // &.wide
    //   max-width: 850px

  .content-inner
    max-width: 850px
    margin: auto
    padding: 30px
    border: 1px solid #aaa
    box-shadow: 0 1px 2px rgba(#000, 0.3)
    border-radius: 3px
    margin-top: 10px
    // &.wide
    //   max-width: 850px
    h2
      margin-top: -5px
      font-size: 20px


  .feature
    margin-left: -30px
    margin-right: -30px
    padding-left: 30px
    padding-right: 30px
    background: #F7FAFE
    margin-bottom: 15px
    padding-top: 15px
    padding-bottom: 15px
    margin-top: 15px
    h3
      margin-top: 0
      font-size: 16px
      a
        color: #333
    p
      color: #888
    p:last-of-type
      margin-bottom: 0

  .governance, .contributors
    h3
      font-size: 16px

    ul
      padding-top: 10px
      padding-left: 15px
      li
        margin-bottom: 10px
