.col-md-2
  .list-group
    %a.list-group-item{:href => '/about', :class => ('active' if current_page?(action: 'about', controller: 'help'))} About
    %a.list-group-item{:href => '/team', :class => ('active' if current_page?(action: 'team', controller: 'help'))} Team
    %a.list-group-item{:href => '/guidelines', :class => ('active' if current_page?(action: 'guidelines', controller: 'help'))} Guidelines
    %a.list-group-item{:href => '/faqs', :class => ('active' if current_page?(action: 'faqs', controller: 'help'))} FAQ's
    %a.list-group-item{:href => '/contact', :class => ('active' if current_page?(action: 'contact', controller: 'help'))} Contact
