%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "/"} Open Hunt
      %a.navbar-about.toggle-about{href: "/about", class: ("active" if current_page?(action: "about", controller: "pages"))}
        Why?
    %ul.nav.navbar-nav.navbar-right
      -# %li{class: ("active" if current_page?(action: "about", controller: "pages"))}
      -#   %a.navbar-about.toggle-about{href: "/about" } About
      %li{class: ("active" if current_page?(action: "new", controller: "projects"))}
        %a{:href => "/new"} + Post
      - if current_user.present?
        %li
          %a{"data-method" => "POST", :href => "/logout"} Logout
      - else
        %li
          %a{:href => "/login"} Login
      -# %li.dropdown
      -#   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      -#     More
      -#     %span.caret
      -#   %ul.dropdown-menu
      -#     %li
      -#       %a{:href => "#"} Action
      -#     %li
      -#       %a{:href => "#"} Another action
      -#     %li
      -#       %a{:href => "#"} Something else here
      -#     %li.divider{:role => "separator"}
      -#     %li
      -#       %a{:href => "#"} Separated link
