%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: '/'} Open Hunt
    %ul.nav.navbar-nav.navbar-right
      %li{class: ('active' if current_page?(action: 'new', controller: 'projects'))}
        %a{:href => '/new'} + Post
      %li
        %a{:class => 'dropdown-toggle', :href => '#', 'data-toggle' => 'dropdown'}
          Help
          %span{:class => 'caret'}
        %ul{:class => 'dropdown-menu'}
          %li
            %a{:href => '/help/about'} About
          %li
            %a{:href => '/help/team'} Team
          %li
            %a{:href => '/help/guidelines'} Guidelines
          %li
            %a{:href => '/help/faqs'} FAQ's
          %li
            %a{:href => '/help/team'} Contact

      - if current_user.present?
        %li.profile-nav
          %a{:class => 'dropdown-toggle', :href => '#', 'data-toggle' => 'dropdown'}
            .user-avatar(style="background-image:url('#{current_user.profile_image_url}');")
            %span{:class => 'caret'}
          %ul{:class => 'dropdown-menu'}
            %li{:class => 'dropdown-header'}
              = current_user.screen_name
            %li{class: ('active' if current_page?(action: 'show', controller: 'users', screen_name: current_user.screen_name))}
              %a{:href => "/@#{current_user.screen_name}"} Profile
            %li{class: ('active' if current_page?(action: 'edit', controller: 'users'))}
              %a{:href => "/settings"} Settings
            - if current_user.moderator?
              %li{class: ("active" if current_page?(action: "index", controller: "audit_logs"))}
                %a{:href => "/audit"} Audit Trail
            %li
              %a{:href => '/logout', 'data-method' => 'POST'} Logout
      - else
        %li
          %a{:href => '/login'} Login
