%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "/"} Open Hunt
      %a.navbar-about.toggle-about{href: "/about", class: ("active" if current_page?(action: "about", controller: "pages"))}
        -# What… Why?
        About
    %ul.nav.navbar-nav.navbar-right
      -# %li{class: ("active" if current_page?(action: "about", controller: "pages"))}
      -#   %a.navbar-about.toggle-about{href: "/about" } About
      - if current_user.moderator
        %li{class: ("active" if current_page?(action: "index", controller: "audit_logs"))}
          %a{:href => "/audit"} Audit
      %li{class: ("active" if current_page?(action: "new", controller: "projects"))}
        %a{:href => "/new"} + Post
      - if current_user.present?
        %li.profile-nav(title="View Your Profile")
          -# %a{"data-method" => "POST", :href => "/logout"} Logout
          %a(href="/@#{current_user.screen_name}")
            .user-avatar(style="background-image:url('#{current_user.profile_image_url}');")
      - else
        %li
          %a{:href => "/login"} Login
