<!DOCTYPE html>
<html>
<head>
  <title>Open Hunt - discover new products, give feedback, help each other</title>
  <%= stylesheet_link_tag "dependencies", "application", media: 'all' %>
  <%= javascript_include_tag "dependencies", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
